body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: rgb(6, 191, 223);
}

h1,
.p-image-center {
  text-align: center;
}

img {
  width: 400px;
  height: auto;
}

.big-image {
  width: 600px;
  height: auto;
}

.recipe-title {
  text-align: center;
}

.recipe-subheading {
  font-weight: bold;
  font-size: large;
}