body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: rgb(6, 191, 223);
}

h1 {
  text-align: center;
}

.recipe-title {
  text-align: center;
}

.recipe-subheading {
  font-weight: bold;
}